.c-link {
    display: inline-block;
    margin: 0;
    margin-right: 52px;
    
    position: relative;
    
    font-family: $accent-font;
    font-size: 1.125rem;
    font-weight: 600;
    color: $black;
    text-decoration: none;

    &__line {
        display: block;
        width: 40px;
        height: 2px;

        position: absolute;
        right: 0;
        top: 50%;

        transform: translateX(52px);
        background-color: $charcoal-black;

        transition: width .3s ease, background-color .3s ease;

        &::before, &::after {
            content: '';
            display: inline-block;
            height: 2px;
            width: 10px;

            position: absolute;
            right: 0;
            bottom: 50%;

            transform-origin: 100% 50%;
            transition: background-color .3s ease;

            background-color: $charcoal-black;
        }

        &::before {
            transform: translateY(50%) rotate(30deg);
        }

        &::after {
            transform: translateY(50%) rotate(-30deg);
        }
    }

    &:hover {
        .c-link__line {
            width: calc(100% + 52px);
            background-color: $smoke-grey;

            &::before, &::after {
                background-color: $smoke-grey;
            }
        }
    }
}	