.c-header {

	padding-top: 30px;

	&__link {
		color: $black;
		
		font-weight: 300;
		font-size: 0.875rem;
		text-decoration: none;

		&--bold {
			font-weight: 700;
		}
	}

	&--project {
		padding: 60px 0;
	}
}

.c-header-group {
	&__item {
		
		& + & {
			margin-left: 2.75rem;
		}
	}
}