.c-footer {
	padding: 105px 0;

	&__link {
		display: inline-block;
		margin-left: 42px;

		color: #000;
		text-decoration: none;
		display: inline-block;
		font-size: 1.125rem;
	}

	&__copyright {
		font-size: 0.875rem;
		color: $black;
		letter-spacing: 0.002857em;
		font-weight: 300;
	}

	&--short {
		padding: 60px 0;
	}
}