.c-about {
	margin-bottom: 30px;

	&__avatar {
		max-width: 100%;
		max-height: 100%;
		box-shadow: 0 2px 27pt #00000015;
		transform: translateY(20px);
	}

	&__description {
		margin-bottom: 54px;
		margin-top: 60px;

		color: $black;
		font-size: .875rem;
		font-weight: 300;
		letter-spacing: .02857em;
		line-height: 1.7142em;
	}

	&__company {
		font-family: $accent-font;
		color: #333;
		font-size: 1.125rem;
		font-weight: 600;
	}

	&__link {
		color: inherit;
		text-decoration: none;
	}

	&__time {
		color: #333;
		letter-spacing: 0.0285em;
		font-size: .875rem;
		font-weight: 300;
	}

	&__title {
		color: #333;
		letter-spacing: 0.0285em;
		font-size: .875rem;
		font-weight: 300;
	}
}
