.c-presentation {

	&__title {
		font-family: $accent-font;
		font-size: 1rem;
		line-height: 1.28em;
		font-weight: 700;
		letter-spacing: .21429em;
	}

	&__content {
		font-family: $default-font;
		font-size: 1rem;
		line-height: 1.375em;
		font-weight: 300;
		letter-spacing: .04em;
	}
}