.c-about {
	margin-bottom: 30px;

	&__avatar {
		max-width: 100%;
		max-height: 100%;
		box-shadow: 0 2px 27pt #00000015;
		transform: translateY(30px);
	}

	&__description {
		margin-bottom: 40px;
		margin-top: 60px;

		color: $black;
		font-size: .875rem;
		font-weight: 300;
		letter-spacing: .02857em;
		line-height: 1.571em;
	}

	&__company {
		color: #333;
		font-size: 1.125rem;
		font-weight: 700;
	}

	&__time {
		color: #333;
		font-size: .875rem;	
		font-weight: 300;	
	}

	&__title {
		color: #333;
		font-size: 1.125rem;
		font-weight: 300;
	}
}