.c-contacts {

	&__title {
		font-size: 1.5em;
		font-family: $accent-font;
		font-weight: 600;
		letter-spacing: 0.001667em;
		line-height: 1.825rem;
		text-align: center;
		color: $black;
	}

	&__address {
		font-family: $accent-font;
		display: inline-block;
		padding-bottom: 4px;
		border-bottom: 2px solid $black;
		
		text-decoration: none;
		color: $grey;
		font-size: 1.125rem;
		font-weight: 600;

		transition: color .3s ease;

		&:hover {
			color: $black;
		}
	}

	&__box {
		padding: 90px 0;
		text-align: center;
	}
}