.c-cite {
	padding-top: 40px;
	padding-bottom: 70px;


	&__icon {
		margin-bottom: 0;
		display: block;
		
		font-family: $default-font;
		font-weight: 900;
		line-height: 2.75rem;
		text-align: center;
	}

	&__text {
		margin: 0;

		font-family: $default-font;
		font-weight: 300;
		line-height: 3.75rem;
		letter-spacing: 0.056em;
		text-align: center;
	}
}