.c-presentation {

	&__title {
		margin: 0;
		font-family: $accent-font;
		font-size: .875rem;
		line-height: 1.28em;
		font-weight: 700;
		letter-spacing: .21429em;
	}

	&__content {
		margin: 0;

		font-size: .875rem;
		line-height: 1.375em;
		font-weight: 300;
		letter-spacing: .0285em;
	}
}