.c-stats {

	&__block {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__title {
		display: block;
		text-align: center;
		font-size: 0.875rem;
		font-weight: 700;
		letter-spacing: 0.0025em;
		line-height: 1.0625rem;
		color: $black;
	}

	&__value {
		display: block;
		text-align: center;
		font-size: 1rem;
		font-weight: 300;
		letter-spacing: 0.0025em;
		line-height: 1.1875rem;
		color: $black;
	}
}