.c-project {
	margin-bottom: 60px;

	&__image {
		max-width: 100%;
		margin: 30px 0;

		box-shadow: 0 2px 27pt #00000015;
	}

	&__title {
		margin: 0;
	
		font-size: 1.5rem;
		letter-spacing: 0.00278em;
	}

	&__tags {
		color: $accent-color;
		text-align: right;

		font-size: .75rem;
		font-weight: 700;
		letter-spacing: .183em;
		line-height: 1.25em;
	}

	&__description {
		margin: 0;

		font-size: .875rem;
		font-weight: 300;
		letter-spacing: .02857em;
		line-height: 1.571em;
	}

	&__link {
		display: inline-block;
		margin: .875rem 0;
		
		font-size: 1.285rem;
		font-weight: 700;
		color: $black;
		text-decoration: none;
	}	
}