html {
	font-family: $default-font;
	color: $black;
	font-size: 16px;
}

h1, h5, h6 {
	font-family: $default-font;
}

h2, h3, h4 {
	font-family: $accent-font;
}

h1 {
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 3.5rem;
	letter-spacing: 0.00278em;
	
	@include media-min(sm) {
		line-height: 3.75rem;
	}
}

h2 {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 2.5rem;
	letter-spacing: 0;
	
	@include media-min(sm) {
		font-size: 2rem;
	}
}

h3 {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.875rem;
	letter-spacing: 0;
}

h4 {
	font-size: 1.125rem;
	font-weight: 600;
	line-height: 1.375rem;
	letter-spacing: 0;
}

h5 {
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 1.5rem;
	letter-spacing: 0.002857em;
}

h6 {
	font-size: 0.875rem;
	font-weight: 300;
	line-height: 1.5rem;
	letter-spacing: 0.002857em;
}