.o-isolator {
	width: 100%;
	padding: 30px;
}

.o-divider {
	width: 100%;
	display: flex;
	flex-direction: row;

	&__left {
		display: inline-block;
		margin-left: 0;
	}

	&__right {
		display: inline-block;
		margin-left: auto;
	}
}

.o-block {
	position: relative;

	&--w-image {
		
		img:first-child {
			transform: translateY(-60px);
			max-width: 100%;
			margin-bottom: -30px;
		}
	}

	&--small {
		.o-block__body {
			margin-top: 10px;
		}
	}

	&--big {
		.o-block__body {
			margin-top: 30px;
		}
	}

	&__head {

	}

	&__body {
		display: block;
		margin-top: 10px;
	}
}

.o-justify{
	display: flex;

	&--v {
		flex-flow: column;

		.o-justify__element {
			margin-top: auto;
		}
	}
}

.o-section {
	position: relative;

	&--w-padding {
		padding: 120px 0;
	}

	&__heading {
		transform: rotate(-90deg) translate(20%, -140px);
		position: absolute;

		display: flex;
		align-items: center;
	}

	.line {
		display: inline-block;
		height: 1px;
		width: 50px;

		background-color: $black;
	}

	&__title {
		display: inline-block;
		margin-left: 15px;
	}

}

