//fonts
$default-font: "lato";
$accent-font: "montserrat";

//colors
$black: #2E2E2E;
$charkoal-black: #2E2E2E;
$grey: #B2B2B2;
$smoke-grey: #CACACA;
$snow-white: #FAFAFA;
$white: #FFFFFF;

//Abstract colors
$accent-color: $smoke-grey;
$accent-color--faded: $snow-white;