.u {

	&-shadow {
		box-shadow: 0 2px 27pt #00000015;
	}

	&-full-height{
		height: 100%;

		&--vh {
			height: 100vh;
		}

		&--partial {
			height: 85vh;
		}
	}


	&-mgb {

		&-90 {
			margin-bottom: 90px;
		}

		&-30 {
			margin-bottom: 30px;
		}
	}

	&-flex-align {
		

		&__l {
			&t {
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
			}

			&c {
				display: flex;
				justify-content: flex-start;
				align-items: center;
			}

			&b {
				display: flex;
				justify-content: flex-start;
				align-items: flex-end;
			}
		}

		&__c {
			&t {
				display: flex;
				justify-content: center;
				align-items: flex-start;
			}

			&c {
				display: flex;
				justify-content: center;
				align-items: center;
			}

			&b {
				display: flex;
				justify-content: center;
				align-items: flex-end;
			}
		}

		&__r {
			&t {
				display: flex;
				justify-content: flex-end;
				align-items: flex-start;
			}

			&c {
				display: flex;
				justify-content: flex-end;
				align-items: center;
			}

			&b {
				display: flex;
				align-items: flex-end;
				justify-content: flex-end;
			}
		}
	}
}
